/* body {
    background-image: url('../img/game-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    width: 100%;
    height: auto;
} */

.calcArea {
    background-color: darkcyan;
}

.balloonNumber {
    display: inline-block;
    margin: 40%;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}

.gamePanel {
    position: relative;
}

.gamePanel .grassBarrier {
    position: absolute;
    left: 0;
    bottom: 0;
}